.TicTacToe {
  height: 610px;
  width: 610px;
}

.TicTacToe-board {
  font-family: sans-serif;
  background-color: #666;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.TicTacToe-row {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-between;
  width: 100%;
  height: 32%;
}

.TicTacToe-cell {
  font-size: 5em;
  background-color: white;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32%;
  height: 100%;
}

.TicTacToe-ending-notification {
  font-size: 2em;
  background-color: pink;
}
